%html
  %body
    %h2.postingtitle
      %span.star
      \- $800 / 1br - Beautiful, street-windowed room in amazing, loving, creative household (alamo square / nopa)

    %section.userbody
      #attributes
        .basics
          %p
            %b> 1
            BR
            %b furnished
            %b apartment
            %br/
          %p

      %section#postingbody
        To the intrepid room-hunters of San Francisco, rejoice and look no further!  I will be leaving my (relatively) spacious furnished bedroom for the month of July and am looking for a temporary, month long subletter.
        %br/
        %br/
        I live in a fabulous iconically San Francisco household complete with Victorian decor, a split bathroom, a food-share system, homemade Kombucha and Kim-chi, two communal costume bins, hellsa Queerness, fun performance events such as a live storytelling night that's recorded for a successful podcast, as well as five amazing, creative, fun, intelligent roommates who work in everything from tech to teaching to green business to yoga.
        %br/
        %br/
        An ideal subletter in our home is clean, respectful, communicative, reliable, engaging, and fun--all qualities that can easily be said to fit all of my roommates.  And when I refer to our apartment as a home I mean it: we're proud to consider ourselves a community and a family and regularly remark at how lucky we all are to have found one another.
        %br/
        %br/
        If you're still interested after vomiting everywhere due to the sappiness of this post, please write back with some information about who you are, what you like to do with your time, and what you're looking for in a place.  We'd love to learn as much about you as we can, even though we can sadly only choose one of you to get to know in this particular way.  On the bright side, we've stayed friends with many of our past subletters so if you're looking to meet a new crew in SF, we could be your LATEST SOULMATES.
        %br/
        %br/
        The sublet will be $800, take place on Divisadero a couple blocks away from Haight, and run from July 1st to July 31st (though bonus points if you're fine with July 2nd to July 30th since those are my awkward travel dates!)  Also, just to let you know, we can't really do (live-in) couples or pets.
        %br/
        %br/
        Can't wait to hear all about you and hope you have a spectacular weekend!
        %br/

      %section.cltags
        %ul.blurbs
          %li it's NOT ok to contact this poster with services or other commercial interests

    %script(src='findAndReplaceDOMText/src/findAndReplaceDOMText.js')
    %script(src='/auto_highlighter.js')
